# 환경 변수
.env
.env.local

# Node.js
node_modules/
dist/
*.log
npm-debug.log*

# Java/Gradle
.gradle/
build/
target/
*.jar
*.war
*.class
out/

# IDE
.idea/
.vscode/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# 기타
*.bak
*.tmp
