<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.alm.domain.user.repository.UserMapper">

	<resultMap id="userResultMap" type="com.company.alm.domain.user.entity.User">
		<id property="userId" column="user_id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="userNm" column="user_nm"/>
		<result property="email" column="email"/>
		<result property="deptCd" column="dept_cd"/>
		<result property="position" column="position"/>
		<result property="joinDate" column="join_date"/>
		<result property="userStatus" column="user_status"/>
		<result property="regId" column="reg_id"/>
		<result property="regDate" column="reg_date"/>
		<result property="updId" column="upd_id"/>
		<result property="updDate" column="upd_date"/>
	</resultMap>

	<select id="findAll" resultMap="userResultMap">
		SELECT
			user_id,
			username,
			password,
			user_nm,
			email,
			dept_cd,
			position,
			join_date,
			user_status,
			reg_id,
			reg_date,
			upd_id,
			upd_date
		FROM "user"
		WHERE user_status != 'RESIGNED'
		ORDER BY user_id DESC
	</select>

	<select id="findById" resultMap="userResultMap">
		SELECT
			user_id,
			username,
			password,
			user_nm,
			email,
			dept_cd,
			position,
			join_date,
			user_status,
			reg_id,
			reg_date,
			upd_id,
			upd_date
		FROM "user"
		WHERE user_id = #{userId}
	</select>

	<select id="findByUsername" resultMap="userResultMap">
		SELECT
			user_id,
			username,
			password,
			user_nm,
			email,
			dept_cd,
			position,
			join_date,
			user_status,
			reg_id,
			reg_date,
			upd_id,
			upd_date
		FROM "user"
		WHERE username = #{username}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO "user" (
			username,
			password,
			user_nm,
			email,
			dept_cd,
			position,
			join_date,
			user_status,
			reg_id,
			reg_date
		) VALUES (
			#{username},
			#{password},
			#{userNm},
			#{email},
			#{deptCd},
			#{position},
			#{joinDate},
			#{userStatus},
			#{regId},
			CURRENT_TIMESTAMP
		)
	</insert>

	<update id="update">
		UPDATE "user"
		SET
			user_nm = #{userNm},
			email = #{email},
			dept_cd = #{deptCd},
			position = #{position},
			join_date = #{joinDate},
			user_status = #{userStatus},
			upd_id = #{updId},
			upd_date = CURRENT_TIMESTAMP
		WHERE user_id = #{userId}
	</update>

	<delete id="delete">
		DELETE FROM "user"
		WHERE user_id = #{userId}
	</delete>

</mapper>
